
.productItem {
    display: flex;
    flex-direction: row;
    align-items: start;
    border-radius: 12px;
    margin-bottom: 0;
    position: relative;
    max-width: 300px; /* Ширина карточки */
    margin-top: 30px;
}

.productImage {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    margin-bottom: 15px;
    object-fit: cover; /* Обрезает изображение по размеру контейнера, сохраняя пропорции */
    object-position: center; /* Центрирует изображение внутри контейнера */
}



.productDate, .productPrice {
    font-size: 14px;
    color: #bbbbbb;
    margin: 0;
}
.productDescr{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.addToCartButton {
    margin-top: 0;
    background-color: #C5FF00; /* Цвет фона, соответствующий коду из Figma */
    color: #000000; /* Черный цвет текста */
    font-size: 14px;
    padding: 10px 20px; /* Отступы внутри кнопки */
    border: none;
    border-radius: 50px; /* Закругленные углы */
    cursor: pointer;
    width: 254px; /* Ширина кнопки */
    height: 50px; /* Высота кнопки */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s; /* Плавный переход при наведении */
    font-family: 'Onest', sans-serif; /* Шрифт, используемый в дизайне */
    font-weight: 400; /* Полужирный текст */
}

.addToCartButton:hover {
    background-color: #B0E500; /* Цвет при наведении */
}

.deleteIcon {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -10px;
    top: 120px;
    cursor: pointer;
}
.productTitle {
    font-family: 'Onest', sans-serif; /* Убедитесь, что шрифт подключен */
    font-weight: 500; /* SemiBold */
    font-size: 14px;
    line-height: 20px; /* Высота строки */
    color: #E7E7E7; /* Цвет текста */
    text-align: left;
    margin: 0;
}

.productDate, .productPrice {
    font-family: 'Onest', sans-serif; /* Убедитесь, что шрифт подключен */
    font-weight: 500; /* Regular */
    font-size: 16px;
    line-height: 22px; /* Высота строки */
    color: #E7E7E7; /* Цвет текста */
    margin: 5px 0;
    text-align: start;
}
.discountText {
    color: #4A9D42; /* Зеленый цвет для текста скидки */
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0;
    text-align: start;
}
.oldPrice{
    display: flex;
    flex-direction: row;
    margin: 0;
}
.oldPriceText{

    color: #7A7A7A;
}
.newPriceText{
    display: flex;
    margin-left: 10px;
    color: #fff;
}
.divider {
    height: 1px;
    background-color: #333333;
    width: 100%;
    margin: 20px 0;
}
.cartItemRemoving {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.removing {
    transform: translateX(-100%); /* Уезжает влево */
    opacity: 0; /* Исчезает */
}
