
.container {
  border-radius: 10px;
  display: flex;
  max-width: 320px;
  flex-direction: column;
  font-family: Onest, sans-serif;
  margin: 16px auto;
}

.row {
  display: flex;
  gap: 16px;
}

.row + .row {
  margin-top: 24px;
}
.container {
  padding: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две карточки в ряду */
  gap: 16px; /* Расстояние между карточками */
}

.productLink {
  text-decoration: none;
}
.pagination{
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}