
.card {
  border-radius: 10px;
  background: var(--card-bg, #232323);
  display: flex;
  padding-bottom: 8px;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.imageWrapper {
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  width: 144px;
  height: 144px;
}

.contentWrapper {
  display: flex;
  margin-top: 12px;
  width: 100%;
  flex-direction: column;
  padding: 0 8px;
}

.title {
  color: var(--text-primary, #e7e7e7);
  text-overflow: ellipsis;
  white-space: wrap;
  text-align: start;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.priceWrapper {
  align-self: start;
  display: flex;
  margin-top: 26px;
  align-items: center;
  gap: 8px 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  justify-content: start;
}

.oldPrice {
  color: var(--text-secondary, #7a7a7a);
  text-decoration-line: line-through;
  align-self: stretch;
  margin: auto 0;
}

.newPrice {
  color: var(--text-primary, #e7e7e7);
  align-self: stretch;
  margin: auto 0;
}
