
.header {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 312px;
  gap: 20px;
  max-height: 60px;
  justify-content: space-between;
  align-self: center;
  z-index: 101;
}
/* Фиксированный хедер */
.fixedHeader {
  top: 0;
  left: 50%; /* Смещаем контейнер к середине экрана */
  position: fixed;
  transform: translateX(-50%); /* Смещаем на половину ширины */
  width: 100%; /* Задаем ширину для хедера, если требуется */
  max-width: 312px; /* Можно задать максимальную ширину, если нужно */
}

/* Стили для оверлея с SearchBar */
.searchOverlay {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100vw;
  height: 130vh;
  background-color: rgba(0, 0, 0, 1); /* Черный фон с прозрачностью */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; /* Поверх всех элементов */
}

/* Стили для кнопки закрытия SearchBar */
.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}
.logoContainer {
  display: flex;
  gap: 16px;
  margin: auto 0;
}
.logoContainer > :first-child {
  margin-top: 18px; /* Задайте нужное значение отступа сверху */
}
.actionContainer {
  display: flex;
  gap: 16px;
}
