
.searchForm {
  position: absolute;
  top: 160px;
  border-radius: 10px;
  background-color: var(---ui-, #2b2b2b);
  display: flex;
  margin-top: 16px;
  gap: 6px;
  /*overflow: hidden;*/
  color: var(---, #909090);
  padding: 4px;
  width: 100%;
  max-width: 300px;
  z-index: 100;
  height: 42px;
  box-sizing: border-box;
}

.searchInput {
  flex: 1;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  margin-top: 7px;
  margin-left: 40px;
}


.searchButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.searchIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 34px;
  position: absolute;
  top: 6px;
  left: 0;

}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}



.suggestionsContainerOpen {
  margin-top: 10px;
  display: block;
  position: absolute;
  background-color: #2B2B2B; /* Dark background */
  max-height: 300px;
  overflow-y: auto;
  z-index: 110;
  border-radius: 10px;
  color: #fff; /* White text for better contrast */
}

.suggestionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestion {
  padding: 10px;
  border-bottom: 1px solid #333; /* Darker border */
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
}

.suggestion:last-child {
  border-bottom: none;
}

.suggestion--highlighted {
  background-color: #333; /* Slightly lighter background for hover */
  color: #fff; /* Keep text white */
}

/* Optional scrollbar styling */
.suggestionsContainerOpen::-webkit-scrollbar {
  width: 6px;
}

.suggestionsContainerOpen::-webkit-scrollbar-thumb {
  background-color: #444; /* Darker scrollbar thumb */
  border-radius: 10px;
}
