
.sortButton {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(---, #e7e7e7);
  text-align: right;
  justify-content: flex-end;
  background: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
}

.sortIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
}
