
.image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  max-height: 60px;
}

.smallImage {
  width: 24px;
  align-self: start;
}

.mediumImage {
  width: 38px;
}

.largeImage {
  width: 108px;
  max-width: 100%;
}
