#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 110vh;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-20px); /* Основной прыжок */
    animation-timing-function: cubic-bezier(0.3, 1, 0.5, 1.4);
  }
  30% {
    transform: translateY(0); /* Возврат на землю */
    animation-timing-function: cubic-bezier(0.3, 1, 0.5, 1);
  }
  45% {
    transform: translateY(-10px); /* Второй отскок */
    animation-timing-function: cubic-bezier(0.3, 1, 0.5, 1.2);
  }
  60% {
    transform: translateY(0); /* Возврат на землю */
    animation-timing-function: cubic-bezier(0.3, 1, 0.5, 1);
  }
  75% {
    transform: translateY(-5px); /* Третий отскок */
    animation-timing-function: cubic-bezier(0.3, 1, 0.5, 1.1);
  }
  90% {
    transform: translateY(0); /* Возврат на землю */
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(-2px); /* Финальный маленький отскок */
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0); /* Окончательное приземление */
  }
}

.bounce {
  animation: bounce 1.5s ease-out !important;
}


