.bestSellers {
  max-width: none !important;
}

.container {
  margin-top: 50px;
  border-radius: 0;
  margin-left: 20px;
  display: flex;
  max-width: 340px;
  width: 340px;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
}

.title {
  color: #e7e7e7;
  letter-spacing: -0.28px;
  z-index: 10;
  font: 700 28px/1 Onest, sans-serif;
}

.swiperContainer {
  width: 100%;
  max-width: 340px;
  overflow: hidden;
}

.slide,
.swiper-slide {
  display: flex;
  justify-content: center;
  width: 150px; /* Ширина одного слайда */
  max-width: 150px;
}

.productCard {
  width: 152px;
  height: 242px;
  border-radius: 10px;
  background-color: #232323;
  display: flex;
  padding-bottom: 8px;
  flex-direction: column;
  overflow: hidden;
  font-family: Onest, sans-serif;
}

.productImage {
  width: 136px;
  height: 136px;
  margin: 8px auto;
  border-radius: 5px;
  background-color: #fff;
  object-fit: cover;
  object-position: center;
}

.productInfo {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 16px 0 8px;
  box-sizing: border-box;
  overflow: hidden;
}

.productName {
  color: #e7e7e7;
  text-overflow: ellipsis;
  white-space: wrap;
  text-align: start;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
margin: 0
}

.priceContainer {
  display: flex;
  margin-top: 26px;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}

.oldPrice {
  color: #7a7a7a;
  text-decoration: line-through;
}

.newPrice {
  color: #e7e7e7;
}
